* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial, sans-serif;
}

body {
  height: 100%;
  width: 100%;
  background-color: #e4e7ed;
}

.wrapper {
  height: 100%;
  width: 100%;
  /* border: solid 10px rebeccapurple; */
}

header {
  width: 100%;
  position: sticky;
  z-index: 10;
  top: 0;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16);
}

header .navSt1 {
  background-color: #3c71e9;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 8px 0;
  height: 50px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

header .navSt1 img {
  width: 7rem;
}

header .navSt1 input {
  height: 2.3rem;
  width: 550px;
  padding: 10px;
  border-radius: 2px 0 0 2px;
  outline: 0 none;
  border: none;
}

header .navSt1 button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 100px;
  padding: 10px;
  line-height: 20px;
  font-size: 16px;
  font-weight: 600;
  color: #3c71e9;
  border: none;
  cursor: pointer;
}
header .navSt1 div {
  cursor: pointer;
}

header .nav2nd {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 8px 0;
  font-size: 14px;
  font-weight: bold;
  background-color: #fff;
}

header .nav2nd li {
  list-style: none;
  cursor: pointer;
}

main {
  display: flex;
  gap: 10px;
  width: 100%;
  height: 100%;
  /* border: solid 10px red; */
}

.leftSideSection {
  width: 20%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  position: relative;
  background-color: #fff;
  margin-left: 5px;
  margin-top: 10px;
  padding: 10px;
}

.leftSideSection li {
  list-style: none;
  width: 100%;
  border-bottom: 1px solid;
  font-size: 12px;
  font-weight: 500;
  color: #212121;
  min-height: 50px;
}

.leftSideSection li .CATEGORIES {
  color: #878787;
}

.leftSideSection .priceSection {
  display: flex;
  flex-direction: column;
  /* border: solid 1px red; */
}

.leftSideSection li .minmaxPrice {
  display: flex;
  align-items: center;
  gap: 30px;
}

.content {
  width: 80%;
  height: 100%;
  background-color: white;
  padding: 0.7rem 1rem;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  gap: 1rem;
  align-items: center;
  justify-content: space-around;
  margin-right: 5px;
  margin-top: 10px;
}

.content .productCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 350px;
  width: 250px;
  padding: 1rem;
  /* gap: 0.5rem; */
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  /* border: solid; */
}

.productName {
  max-width: 150ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  font-size: 14px;
}
.productCard:hover {
  box-shadow: 0 0 5px 0 rgb(0, 0, 0, 0.3);
}

.productCard:hover .productName {
  color: #3c71e9;
}

.productImage {
  width: 100%;
  height: 60%;
  object-fit: contain;
}

.productName {
  font-size: 0.875rem;
  width: 100%;
}

.rating {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: default;
}

.ratingContainer {
  display: flex;
  background-color: #398f3c;
  align-items: center;
  gap: 0.25rem;
  padding: 0.25rem 0.3rem;
  border-radius: 0.5rem;
  color: white;
  font-size: 0.8rem;
}

.ratingCount {
  color: #868796;
}

.f-assured {
  width: 5rem;
}

.price {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
}

del {
  font-size: 0.875rem;
  color: #868796;
}

.discountContainer {
  color: #398f3c;
  font-size: 0.8125rem;
  font-weight: 600;
}
.delivery {
  font-size: 0.75rem;
  cursor: default;
}
.bankOffer {
  font-size: 0.75rem;
  font-weight: 700;
  color: green;
  cursor: default;
}
